body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

#logo {
    width: 150px;
    position: absolute;
    top: 10px;
    left: 10px;
}

main {
    padding: 20px;
}

.video-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.video-frame {
    display: none; /* Initially hidden */
    width: 45%;
    max-width: 300px;
    position: relative;
}

.video-frame img {
    width: 100%;
    cursor: pointer;
}

.video-frame video {
    width: 100%;
    display: none; /* Initially hidden */
}

footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
